.fa-facebook:hover {
    color: #3B5998
}
.fa-whatsapp:hover {
    color: #25D366;
}
.fa-linkedin:hover {
    color: #0077B5;
}
.fa-envelope:hover {
    color:skyblue;
}
.fa-phone:hover {
    color: #675CA8;
}
.fa-map-marker:hover {
    color: #FF6600;
}

